main {
  display: block;
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  text-align: center;
  background-image: url(../bg.jpg);
  padding-top: 80px;
  box-sizing: border-box;
}
main .title h1 {
  font: 700 36px Ubuntu, sans-serif;
  color: #0bbaf0;
  text-transform: uppercase;
  margin: 0 0 18px 0;
}
main .title p {
  font: 400 24px Ubuntu, sans-serif;
  color: #0bbaf0;
  text-transform: uppercase;
  margin: 0;
}
main .title hr {
  background-color: #c4c4c4;
  width: 124px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.accordion .tab {
  display: block;
  margin: 0 auto;
  background-color: #0bbaf0;
  width: 860px;
  height: 54px;
  font: 400 23px Ubuntu, sans-serif;
  color: #ffffff;
  box-sizing: border-box;
  padding-top: 10px;
  text-decoration: none;
  margin-bottom: 5px;
}
.accordion .tab-panel {
  display: none;
  margin: 0 auto;
  margin-top: -5px;
  border-radius: 10px;
  border-width: 4px;
  border-color: #dcdcdc;
  border-style: solid;
  background-color: #ffffff;
  width: 838px;
  height: 134px;
  border-top: none;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  box-sizing: border-box;
  padding-top: 20px;
  padding-left: 30px;
}
.accordion .tab-panel p {
  font: 400 20px Ubuntu, sans-serif;
  color: #535353;
  text-align: left;
  margin: 0;
  vertical-align: middle;
}
